body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
}

.album-list {
    list-style-type: none;
    padding: 0;
}

.album-list li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.album-list li:hover {
    background-color: #f0f0f0;
}

.album-cover {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.album-cover:hover {
    transform: scale(1.05);
}

.album-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.album-info strong {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.album-info strong:hover {
    color: #007BFF;
}

.album-info span {
    font-size: 12px;
    color: #555;
}

.album-info em {
    font-size: 12px;
    color: #555;
    font-style: italic;
}

.tags {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.tag-line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.tag:hover, .tag.active {
    background-color: #007BFF;
    color: white;
}

.spotify-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-height: 50px;
    overflow: hidden;
}

.spotify-button:hover {
    background-color: #1ED760;
}

.spotify-icon {
    margin-right: 5px;
}

.autocomplete-suggestions {
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    background: white;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.autocomplete-suggestion:hover, .autocomplete-suggestion.active {
    background-color: #f0f0f0;
}

.btn-custom {
    background-color: #007BFF;
}

#all-albums-header {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

#all-albums-header:hover {
    color: #0056b3;
}

.countdown-container {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    color: #333;
}

.countdown-container h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin-top: 15px;
}

.countdown-container ul {
    padding: 0;
}

.countdown-container li {
    display: inline-block;
    font-size: 1.0em;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
}

.countdown-container li span {
    display: block;
    font-size: 4.5rem;
}